body {
  min-width: 320px;
  max-width: 100%;
  min-height: 100px;
  max-height: 100%;
  position: relative;
  vertical-align:middle;
  padding-left:10px;
  padding-top:10px;
}

#tpControl{
  margin-left: 4px;
  width: 64px!important;
  display: inline-block;
}
#fontControl{
  width: 64px!important;
  display: inline-block;
}
#speedControl{
  width: 124px!important;
  display: inline-block;
}

#keyword{
  width: 150px!important;
  display: inline-block;
}
#updateRate{
  width: 110px!important;
  display: inline-block;
}

.form-control{
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  padding-left: 2px!important;
  padding-right: 2px!important;
  height: 22px!important;
  width: 100px!important;
  font-size: 12px!important;
  line-height: 12px!important;
}
